extends layout

block content
  h1= title
  form(name='add-item-bill', method='post')
    div.input
      span.label session_id
      input(type='text', name='session_id', value="#{session_id}", readonly='readonly')
    div.input
      span.label bill_id
      select(name='bill_id')
        option(value='') Select Section
        each id in bill_id_list
          option(value=id) #{id}
    div.input
      span.label item_id
      select(name='item_id')
        option(value='') Select Section
        each id in item_id_list
          option(value=id) #{id}
    div.input
      span.label quantity
      input(type='text', name='quantity')
    div.actions
      input(type='submit', value='Submit')