extends layout

block content
  h1= title
  form(name='edit-profile', method='post')
    div.input
      span.label user_id
      input(type='text', name='user_id', value="#{user_id}", readonly='readonly')
    div.input
      span.label first_name
      input(type='text', name='first_name', value="#{first_name}")
    div.input
      span.label last_name
      input(type='text', name='last_name', value="#{last_name}")
    div.input
      span.label email
      input(type='email', name='email', value="#{email}")
    div.actions
      input(type='submit', value='Submit')