extends layout

block content
  h1= title
  div.input
    span.label user_id
    input(type='text', name='user_id', value="#{user_id}", readonly='readonly')
  div.input
    span.label total_gain
    input(type='text', name='total_gain', value="#{total_gain}", readonly='readonly')
  div.input
    span.label total_paid
    input(type='text', name='total_paid', value="#{total_paid}", readonly='readonly')
  div.input
    span.label total_unpaid
    input(type='text', name='total_unpaid', value="#{total_unpaid}", readonly='readonly')
  div.input
    span.label total_balance
    input(type='text', name='total_balance', value="#{total_balance}", readonly='readonly')
